@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&amp;display=swap");
* { font-family: "Mulish"; }

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, #474444, #e1d7ff, #c6afff, #432188, #000000);
}

@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

.navbar-nav {
    box-shadow: 0 0px 5px #7700ff;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
}

.dropdown-menu {
    padding: 2px;
    margin: 0px;
}

.dropdown-item {
    color: white;
    text-align: center;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
        background-color: rgb(75, 75, 75);
        display: none;
    }

	.navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
	.navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.nav-link {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.nav-link::before {
    content: '';
    position:absolute;
    top: 35px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .2s;
}

.nav-link:hover::before {
    width: 100%;
}

#products-cards {
    max-width: 1200px;
}

.card {
	background: #fff;
	transition: .2s transform cubic-bezier(.155, 1.105, .295, 1.12), .2s box-shadow, .2s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
	border: 0;
	border-radius: 1rem;
}

.card:hover {
	box-shadow: 0 0px 20px #661667;
}


.card-img,
.card-img-top {
	border-top-left-radius: calc(1rem - 1px);
	border-top-right-radius: calc(1rem - 1px);
}

.card h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

	height: 56px;
	font-weight: 900;
	font-size: 1rem;
}

.card-img-top {
	width: 100%;
	max-height: 180px;
	object-fit: contain;
	padding: 30px;
}

.card h2 {
	font-size: 1rem;
}


.card-title:hover {
    text-decoration: underline;
	color: #661667;
}
.btn {
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	padding: 5px 25px 5px 25px;
}
.box .btn {
	font-size: 1.5rem;
}

.price-hp {
	font-size: 1.5rem;
	font-weight: 400;
	color: darkgray;
}

.btn-warning {
    background: linear-gradient(355deg, #125ab6, #661667);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.3s;
}

.btn-warning:hover {
	border: 2px solid rgb(255, 255, 255);
	color: white;
    box-shadow: 0 0px 5px #661667;
}